.text-section {
    max-height: 100vh;
    overflow-y: auto;
    border-radius: 8px;
}
.loader-section {
    height: 45vh;
}
.terminal {
    background-color: black;
    color: white;
    font-size: medium ; 
    font-family: "Courier New", Courier, monospace;
    width: 100%;
    display: inline-block;
}